
@model Veterinario 
@{
    ViewData["Title"] = "Ingresar una veterinaria";
}
<h1>@ViewData["Title"]</h1>

<p>Ingrese una nueva clínica veterinaria.</p>

<form method="post">
    
    <div class="mb-3">
        <label >Nombre de la veterinaria</label>
        <input asp-for="NombreVeterinario" class="form-control">
    </div>
    <div class="mb-3">
        <label>Dirección</label>
        <input asp-for="DireccionVeterinario" class="form-control">
    </div>
    <div class="mb-3">
        <label>Teléfono</label>
        <input asp-for="TelefonoVeterinario" class="form-control">
    </div>

    <div class="row col-6">
        <div class="col-6 m-auto" >
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-6 m-auto">
            <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
        </div>
    </div>
   
</form>



