@model Cliente
@{
    ViewData["Title"] = "Editar cliente";
}
<h1>@ViewData["Title"]</h1>

<p>En esta pagina podrá editar los datos de cualquier cliente.</p>

<form method="post">

    <div class="mb-3">
        <label>Cedula</label>
        <input asp-for="Cedula" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="mb-3">
        <label>Dirección</label>
        <input asp-for="Direccion" class="form-control">
    </div>

    


    <div class="row col-6">
        <div class="col-6 m-auto">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-6 m-auto">
            <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
        </div>
    </div>

</form>

