@model Cliente
@{
    ViewData["Title"] = "SignUp";
    Layout = "LayoutLogin";

}

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/3468/3468377.png" 
                    style="width: 150px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Animales Etsotikos</h4>
                </div>

                <form  method="post">
                  <h5>Crea a tu cuenta</h5>

                   <div class="form-outline mb-4">
                    <input asp-for="Nombre" class="form-control">
                    
                    <label class="form-label" for="form2Example11">Nombre</label>
                  </div>


                   <div class="form-outline mb-4">
                    <input asp-for="Cedula" class="form-control" placeholder="Cedula">
                    
                    <label class="form-label" for="form2Example11">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input asp-for="Password" type="password" class="form-control" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                    

                  </div>

                  <div class="form-outline mb-4">
                    <input asp-for="Direccion" class="form-control">                   
                    <label class="form-label" for="form2Example11">Dirección</label>
                  </div>



                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Sign Up</button>
                  </div>
                  <p></p>
                    @ViewBag.ErrorMsg


                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                    <a asp-action="Login"  class="btn btn-outline-info">Login</a>
                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos más que una compañía</h4>
                <p class="small mb-0">Bienvenidos a nuestra empresa de adopción de animales exóticos, donde el amor por la naturaleza se encuentra con la dedicación por el bienestar animal. En un mundo donde la conservación es esencial, nos comprometemos a proporcionar hogares seguros y amorosos para animales exóticos necesitados. Nos esforzamos por preservar la biodiversidad y educar a nuestras comunidades sobre la importancia crucial de proteger estas especies únicas. Únanse a nosotros en esta misión de cuidado, respeto y admiración por el reino animal.</p>
             <div style="text-align: center;">
                    <p> 

                    </p>
                    <img src="/img/hamster.png" style="width: 300px;" />
             </div>  
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
