
@{
    ViewData["Title"] = "Home Page";
    Layout = "_StartLayout";
}



<div class="text-center">
    <h1 class="display-4">Tienda de animales exóticos</h1>
    <h3>Proyecto de primer progreso Programación IV</h3>
    <p>DISCLAIMER: <a href="https://pbs.twimg.com/media/D6iLL9nXoAAQ_hj.jpg">en este trabajo no apoyamos el tráfico de animales exóticos</a>.</p>
    
    <p>Liseth Abad y Nicolás García</p>
    <p>Animales gratis a la venta disponibles: </p>
</div>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="/img/tony.jpeg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />

        <img src="https://t4.ftcdn.net/jpg/02/92/13/73/360_F_292137348_pNron5XoE9xxzd0skOePMB1s6XID9vdp.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://pbs.twimg.com/media/FFlecqcXsAo7E70.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Mountains in the Clouds" />

        <img src="https://img.wattpad.com/173bdeae3ad9476c2961909ced0836ae5ac82e4c/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6c5836516e4453626163796754513d3d2d3238342e313565313634626162356437373039383933363235353238333535372e6a7067?s=fit&w=720&h=720"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="/img/nico.jpeg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Waves at Sea" />

        <img src="/img/cami.jpeg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Yosemite National Park" />
    </div>
</div>
<!-- Gallery -->
